.algorithm-container::-webkit-scrollbar{
    width:8px;
    color: gray;
}

.algorithm-container{
    height: 25vh;
}

.algorithm-container{
    max-height: 24vh;
    overflow-y:hidden;
    padding:10px;
    border:1px solid #ccc;
    border-radius: 5px;
    background: white;
    scrollbar-width: thin;
    scroll-padding: 10px;
}
.algorithm-container:hover{
    overflow-y:scroll;
    scrollbar-color:rgb(232, 235, 224) white;
}
ol{
    padding-left: 20px;
}

